body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

main {
  min-height: 100vh;
}

#app {
  padding: 0 2rem;
}

.heading {
  padding: 1rem 0;
}
.heading-first {
  font-size: xx-large;
  padding-right: 0.25rem;
}

.heading-second {
  font-size: medium;
}

.exhibits-container {
  box-sizing: border-box;
  width: 100%;
  margin: 1rem 0;
}

.canvas-title {
  margin: 1rem;
  position: absolute;
  font-size: large;
  font-style: italic;
}

.exhibit-canvas {
  border: 2px solid black;
  height: 90vh;
  width: 100%;
  background-color: gainsboro;
}
